@import "tailwindcss";
<<<<<<< HEAD
=======

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
>>>>>>> 8b53bd5d09052429efb76c48d7b6d392e441a7ef

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: #f2ede3;
  color: #1a1610;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

